<%- include('partials/header'); -%>

<h1>Contact</h1>
<p><%= contactStart%></p>
<p>MITAOE</p>
<p>Student</p>
<p>Phone number - 8421233996</p>
<p>Email - ajinkya15@gmail.com</p>

<%- include('partials/footer'); -%>